-#  This file is app/views/admin/index.html.haml

-if current_user.rank == "admin"
  %div#main
    .mainContentBox
      / %div{:id => "calendar"}

      .mainContentBoxHeader quick actions

      %p (will have add school, add participant forms here)

      .mainContentBoxHeader all appointments
      - @appointments.each do |appt|
        %p
          %table{:class => "appt"}
            %tr
              %td{:width => "60%"}
                %p
                  Intern: #{appt.intern} <br/>
                  School: #{appt.school} <br/>
                  Date: #{appt.date} <br/>
                  Time: #{appt.start} - #{appt.end}
              %td{:width => "40%"}
                %p Booked by #{appt.client}
                =link_to "View appointment", "appointments/#{appt.id}", :class => "appt"


      %div.clear
      %div{:id => "footer"}
