-#  This file is app/views/admin/index.html.haml

-if current_user.rank == "admin"
  %div#main
    .mainContentBox
      / %div{:id => "calendar"}

      .mainContentBoxHeader quick actions

      %p (will have add school, add participant forms here)

      .mainContentBoxHeader all appointments

      - @appointments.each do |appt|
        %p
          %table{:class => "appt"}
            %tr
              %td{:width => "60%"}
                %p
                  Intern: #{appt.intern} <br/>
                  School: #{appt.school.name} <br/>
                  Time: #{appt.start.strftime("%I:%M%p")} - #{appt.end.strftime("%I:%M%p, %m/%d/%Y")}
              %td{:width => "40%"}
                -if appt.client
                  -if appt.client == ""
                    %p Booked by no one
                  -else
                    %p Booked by #{appt.client}

                =link_to "View appointment", "appointments/#{appt.id}", :class => "appt"


      %div.clear
      %div{:id => "footer"}
