-#  This file is app/views/users/show.html.haml
.mainContentBox
  .mainContentBoxHeader change password
  %div{:class => "textbox"}
    = form_tag user_path(@user), :method => :put do
      %nav
        %table{cellpadding: "5px", width: "100%"}

          %td= label :identities, :password_digest, 'Change Password'
          %td= password_field_tag :password_digest
          %tr
          %td= label :identities, :password_digest_confirm, 'Confirm Password'
          %td= password_field_tag :password_digest_confirm
          %tr
      %input.button{name: "commit", type: "submit", value: "Submit"}
