-#  This file is app/views/identities/new.html.haml
-#  Currently not being used

%div#main
  %div{:id => "header-main", :class => "header"}
    %div{:id => "title"}
      %h1.inline
        =image_tag "fueled_logo.jpg", :height => "150px"
      %h3.inline USER PORTAL

    %nav
      %ul
        %li=link_to "profile", "#", :class => "button-square"
        %li=link_to "calendar", "#", :class => "button-current"
        %li=link_to "settings", "#", :class => "button-square"

    %div.clear

  %div{:id => "content", :class => "textbox"}
    = form_tag identities_path do

      = label :identity, :rank, 'User Type'
      = text_field :identity, 'rank'
      %br
      = label :identity, :name, 'Name'
      = text_field :identity, 'name'
      %br
      = label :identity, :email, 'Email'
      = text_field :identity, 'email'
      %br
      = label :identity, :password, 'Password'
      = text_field :identity, 'password'
      %br
      = label :identity, :password_confirmation, 'Password Confirmation'
      = text_field :identity, 'password_confirmation'
      %br
      = submit_tag 'Register'
