<!-- <div id="calendar">
 --> 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
</script>
<script>
var rank;
$(document).ready(function(){

  $("#name_form").hide();
  $("#email_form").hide();
  $(".password_form").hide();

  $("select").change(function(){
     rank = $("select").find(":selected").html();
     if (rank == "client"){ 
       console.log("asdkjasndkas");
       $("#name_form").slideUp(0);
       $("#email_form").slideUp(0);
       $(".password_form").slideUp(0);
       $("#school_form").slideDown(0);
       $("#number_form").slideDown(0);
     }else if (rank == "intern" || rank == "admin"){
       $("#name_form").slideDown(0);
       $("#email_form").slideDown(0);
       $(".password_form").slideDown(0);
       $("#school_form").slideUp(0);
       $("#number_form").slideUp(0);
      }
  });
});
</script>
 <div class = "mainContentBox">
  <div class = "mainContentBoxHeader">new account</div>

  Please fill in the blanks below with the correct information. <br> <br>

  <%= form_tag "/auth/identity/register" do %>
    <% if @identity && @identity.errors.any? %>
      <div class="error_messages">
        <h2><%= pluralize(@identity.errors.count, "error") %> prohibited this account from being saved:</h2>
        <ul>
        <% @identity.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <nav>
      <table cellpadding="5px", width: "100%">
            <tr>
              <td><%= label_tag :rank %></td>
              <td><%= select_tag :rank, options_for_select(User::USER_TYPES)%>
            </td>
        </tr>
            <tr id="name_form">
              <td><%= label_tag :name %></td>
              <td><%= text_field_tag :name, @identity.try(:name) %></td>
            </tr>
            <tr id="school_form">
              <td><%= label_tag :school %></td>
              <td><%= select_tag :school, options_for_select(@schools) %></td>
            </tr>
            <tr id="number_form">
              <td><%= label_tag :num_accts %></td>
              <td><%= text_field_tag :num_accts %></td>
            </tr>

            <tr id="email_form">
              <td><%= label_tag :email %></td>
              <td><%= text_field_tag :email, @identity.try(:email) %></td>
            </tr>
            <tr class="password_form">
              <td><%= label_tag :password %></td>
              <td><%= password_field_tag :password %></td>
            </tr>
            <tr class="password_form">
              <td><%= label_tag :password_confirmation %></td>
              <td><%= password_field_tag :password_confirmation %></td>
            </tr>

      </table>

    </nav>
      <div class="actions">
        <input class = "button" name="commit" type="submit" value="Register">
      </div>
  <% end %>

