-#  This file is app/views/users/show.html.haml

%div{:class => "mainContentBox"}
  .mainContentBoxHeader #{@user.name}'s Profile
  %p
    %b Name:
    #{@user.name}
  %p
    %strong Email:
    #{@user.email}
  %p
    %strong Created At:
    #{@user.created_at}
  %p
    %strong User ID:
    #{@user.uid}

  / -if (!current_user.nil? && current_user.uid == @user.uid) or (current_user.rank == "admin")
  /   =link_to "Edit Profile", "/users/#{@user.uid}/edit", :class => "appt"
  /   =button_to "Delete", user_path(@user), :method => :delete, :confirm => 'Are you sure?'
