-#  This file is app/views/schools/index.html.haml

.mainContentBoxHeader all schools
- @schools.each do |school|
  %p
    %table{:class => "appt"}
      %tr
        %td{:width => "60%"}
          %p
            Name: #{school.name} <br/> <br/>
            Location: <br/> #{school.address} <br/> #{school.city}, #{school.state} #{school.zipcode} <br/> #{school.county}, #{school.country} <br/>
        %td{:width => "10%"}
          =link_to "Edit", "/admins/schools/#{school.id}/edit", :class => "schools"
          =button_to "Delete", school_path(school), :method => :delete, :confirm => 'Are you sure?'
%div
  =link_to "Add New School", "/schools/new", :class => "link"

