-#  This file is app/views/schools/new.html.haml


.mainContentBox
  .mainContentBoxHeader New School
  %nav
    = form_for :school, url: schools_path do |f|
      %p
        = f.label :name
        %br/
        = f.text_field :name
      %p
        = f.label "Street Address"
        %br/
        = f.text_field :address
      %p
        = f.label :city
        %br/
        = f.text_field :city
      %p
        = f.label :state
        %br/
        = f.text_field :state
      %p
        = f.label :county
        %br/
        = f.text_field :county
      %p
        = f.label :country
        %br/
        = f.text_field :country
      %p
        = f.label "Zip Code"
        %br/
        = f.text_field :zipcode
      %p
        %input.button{name: "commit", type: "submit", value: "Add School"}

