-#  This file is app/views/schools/new.html.haml


%div#main
  %div{:id => "header-main", :class => "header"}
    %div{:id => "title"}
      %h1.inline
        =image_tag "fueled_logo.jpg", :height => "150px"
      %h3.inline ADMIN PORTAL

    %nav
      %ul
        %li=link_to "home", "/admins", :class => "button-square"
        %li=link_to "schools", "/admin/schools", :class => "button-current"        
        %li=link_to "signout", "/signout", :class => "button-square"

    %div.clear

  %div{:id => "content", :class => "textbox"}
    = form_tag schools_path do

      = label :school, :name, 'Name'
      = text_field :school, 'name'
      %br
      = label :school, :location, 'Location'
      = text_field :school, 'location'
      %br
      = submit_tag 'Add School'
