<%= form_for :school, url: schools_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </p>
  
  <p>
    <%= f.submit %>
  </p>
<% end %>