-#  This file is app/views/schools/new.html.haml


%div{:id => "calendar", :class => "textbox"}
  = form_tag schools_path do

    = label :school, :name, 'Name'
    = text_field :school, 'name'
    %br
    = label :school, :location, 'Location'
    = text_field :school, 'location'
    %br
    = submit_tag 'Add School'
