-#  This file is app/views/schools/new.html.haml


.mainContentBox
  .mainContentBoxHeader New School
  %nav
    = form_for :school, url: schools_path do |f|
      %p
        = f.label :name
        %br/
        = f.text_field :name
      %p
        = f.label :location
        %br/
        = f.text_field :location
      %p
        = submit_tag 'Add School'