
	<div id="main">
		<div id="header-login" class="header">
			<div id="title">
				<h1 class= "inline">FuelEd</h1>
				<h3 class= "inline">PARTICIPANT PORTAL</h3>
			</div>
			<% if current_user %>
			<nav> <ul><a class="button" href= "/signout">SIGN OUT</a></nav></ul>
			<% else %>
				<nav>
					<ul>
						<%= form_tag "/auth/identity/callback" do %>
						<!--<div class="field">/-->
							<li>EMAIL: 
							<%= text_field_tag :auth_key %> </li>
						<!--</div>/-->
						<!--<div class="field">/-->
							 <li>PASSWORD:
							<%= password_field_tag :password %></li>
						<!--</div>/-->
						<input class = "button" name="commit" type="submit" value="LOGIN">
						<!--
						<li>EMAIL: <input type="text" name=":auth_key"></li>
	            		<li>PASSWORD: <input type="text" name=":password"></li>
	            		<li ><a class="button" href="/auth/identity/callback">LOGIN</a></li>
	            		/-->
	            		<% end %>
					</ul>
				</nav>
			<% end %>
			<div class="clear"></div>
		</div>
		<div id= "content">

		<% if flash[:notice] %>
			<div id="notice"> <%= flash[:notice] %> </div>
		<% elsif flash[:warning] %>
			<div id="warning"> <%= flash[:warning] %> </div>
		<% end %>

		<h2>welcome</h2>
		<% if current_user %>
  			<h3>User Profile</h3>
 			<p>
    			<strong>Name:</strong>
    			<%= current_user.name %>
  			</p>
  			<p>
    			<strong>Provider:</strong>
    			<%= current_user.provider %>
  			</p>
  			<p>
    			<strong>OmniAuth UID:</strong>

    			<%= current_user.uid %>
  			</p>
<!--   			<p><a class="button" href= "/signout">SIGN OUT</a>
  			</p> -->
		<% else %>
			<p class="textbox"> Welcome to the FuelEd appointment scheduling portal!</br></br></br></p> 
		<% end %>
		</div>
	</div>
