-#  This file is app/views/appointments/index.html.haml



.mainContentBoxHeader all appointments
- @appointments.sort_by{|appt| appt.start_time}.each do |appt|
  %p
    %table{:class => "appt"}
      %tr
        %td{:width => "60%"}
          %p
            counselor: #{appt.counselor} <br/>
            School: #{appt.school.name} <br/>
            Room: #{appt.room} <br/>
            Time: #{appt.start_time.strftime("%I:%M%p")} - #{appt.end_time.strftime("%I:%M%p, %m/%d/%Y")}
        %td{:width => "40%"}
          -if appt.participant
            -if appt.participant == ""
              %p Booked by no one
              -if @current_user.rank == "participant"
                =link_to "Book", book_participant_url(appt.id), :class => "link"
              -if @current_user.rank == "counselor"  
                = form_tag book_counselor_path(appt.id), :method => :put do
                  = select_tag :participant, options_for_select(@users[appt.school.name])
                  = submit_tag 'Book'
            -else
              %p Booked by #{appt.participant}  
              -if @current_user.rank == "participant"
                =link_to "Unbook", unbook_url(appt.id), :class => "link"
          -if @current_user.rank == "counselor"  
            =link_to "View", "appointments/#{appt.id}", :class => "link"
            =link_to "Edit", "appointments/#{appt.id}/edit", :class => "link"
            =link_to "Unbook", unbook_url(appt.id), :class => "link"
            =button_to "Delete", appointment_path(appt), :method => :delete, :confirm => 'Are you sure?'

= will_paginate @appointments
