<h1>Listing appointments</h1>
 
<table>
  <tr>
    <th>participant</th>
    <th>counselor</th>
    <th>Date</th>
    <th>Start</th>
    <th>End</th>
  </tr>
 
  <% @appointments.each do |appointment| %>
    <tr>
      <td><%= appointment.participant %></td>
      <td><%= appointment.counselor %></td>
      <td><%= appointment.date %></td>
      <td><%= appointment.start %></td>
      <td><%= appointment.end %></td>
    </tr>
  <% end %>
</table>