-#  This file is app/views/appointments/index.html.haml



%h2 all appointments
- @appointments.each do |appt|
  %p
    %table{:class => "appt"}
      %tr
        %td{:width => "60%"}
          %p
            Intern: #{appt.intern} <br/>
            School: #{appt.school.name} <br/>
            Time: #{appt.start.strftime("%I:%M%p")} - #{appt.end.strftime("%I:%M%p, %m/%d/%Y")}
        %td{:width => "40%"}
          -if appt.client
            -if appt.client == ""
              %p Booked by no one
            -else
              %p Booked by #{appt.client}          
          =link_to "View", "appointments/#{appt.id}", :class => "link"
          =link_to "Edit", "appointments/#{appt.id}/edit", :class => "link"
          =button_to "Delete", appointment_path(appt), :method => :delete, :confirm => 'Are you sure?'
