-#  This file is app/views/appointments/new.html.haml


.mainContentBox
    .mainContentBoxHeader new appointment
    %div{:class => "textbox"}
        Please fill in the blanks below with the correct information.
        %br/
        %br/
        = form_tag appointments_path do
            %nav
                %table{cellpadding: "5px", width: "100%"}
                    %td= label :appointment, :intern, 'Intern'
                    %td= @current_user.name
                    %tr
                    %td School
                    %td
                        = label :school, ''
                        = select_tag :school, options_for_select(@my_schools)
                    %tr
                    %td Room
                    %td
                        = label :room, ''
                        = text_field :room, 'room'
                    %tr
                    %td Date
                    %td
                        = label :date_month, ''
                        = select_tag :date_month, options_for_select(Appointment::MONTHS)
                        = label :date_day, '/'
                        = select_tag :date_day, options_for_select(Appointment::DAYS)
                        = label :date_year, '/'
                        = select_tag :date_year, options_for_select(Appointment::YEARS)                
                    %tr
                    %td= label :appointment, :start, 'Start Time'
                    %td
                        = label :start_hour, ''
                        = select_tag :start_hour, options_for_select(Appointment::HOURS)
                        = label :start_minutes, ':'
                        = select_tag :start_minutes, options_for_select(Appointment::MINUTES)
                        = label :start_tod, '-'
                        = select_tag :start_tod, options_for_select(Appointment::TIME_OF_DAY)
                    %tr
                    / %td= label :appointment, :end, 'End'
                    / %td
                    /     = label :end_hour, ''
                    /     = select_tag :end_hour, options_for_select(Appointment::HOURS)
                    /     = label :end_minutes, ':'
                    /     = select_tag :end_minutes, options_for_select(Appointment::MINUTES)
                    /     = label :end_tod, '-'
                    /     = select_tag :end_tod, options_for_select(Appointment::TIME_OF_DAY)
                    %tr
                    %td Slot Duration
                    %td
                        = label :duration, ''
                        = select_tag :duration, options_for_select(@durations)
                        minutes
                    %tr
                    %td Number of slots
                    %td
                        = label :num_slots, ''
                        = select_tag :num_slots, options_for_select(@num_slots)
                    %tr
                    %td Repeat
                    %td
                        = label :repeat, ''
                        = select_tag :repeat, options_for_select(@repeats)
                        times every
                        = label :every, ''
                        = select_tag :every, options_for_select(@everys)
                        week(s)
                    %tr
                %input.button{name: "commit", type: "submit", value: "Create"}
                =link_to "Cancel", appointments_path, :class => "appt"
