-#  This file is app/views/appointments/new.html.haml
.mainContentBox
    .mainContentBoxHeader new appointment
    Please fill in the blanks below with the correct information.
    %br/
    %br/
    = form_tag appointments_path do
        %nav
            %table{cellpadding: "5px", width: "100%"}
                %tr
                %td= label :appointment, :client, 'Client'
                %td= text_field :appointment, 'client'
                %tr
                %td= label :appointment, :intern, 'Intern'
                %td= text_field :appointment, 'intern'
                %tr
                %td= label :appointment, :school, 'School'
                %td= text_field :appointment, 'school'
                %tr
                %td= label :appointment, :date, 'Date'
                %td= text_field :appointment, 'date'
                %td= "(MM/DD/YYYY)"
                %tr
                %td= label :appointment, :start, 'Start'
                %td= text_field :appointment, 'start'
                %td= "(eg. 7 PM = 1900)"
                %tr
                %td= label :appointment, :end, 'End'
                %td= text_field :appointment, 'end'
                %tr
            %input.button{name: "commit", type: "submit", value: "Create"}
            =link_to "Cancel", appointments_path, :class => "appt"