<%= form_for :appointment, url: appointments_path do |f| %>
  <p>
    <%= f.label :participant %><br>
    <%= f.text_field :participant %>
  </p>
 
  <p>
    <%= f.label :counselor %><br>
    <%= f.text_field :counselor %>
  </p>

  <p>
    <%= f.label :date %><br>
    <%= f.text_field :date %>
  </p>

  <p>
    <%= f.label :start %><br>
    <%= f.text_field :start %>
  </p>

  <p>
    <%= f.label :end %><br>
    <%= f.text_field :end %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>