-#  This file is app/views/appointments/index.html.haml


%h2 past appointments
- @appointments.each do |appt|
  %p
    %table{:class => "appt"}
      %tr
        %td{:width => "60%"}
          %p
            counselor: #{appt.counselor} <br/>
            School: #{appt.school.name} <br/>
            School: #{appt.room} <br/>
            Time: #{appt.start_time.strftime("%I:%M%p")} - #{appt.end_time.strftime("%I:%M%p, %m/%d/%Y")}
        %td{:width => "40%"}
          -if appt.participant
            -if appt.participant == ""
              %p Booked by no one
            -else
              %p Booked by #{appt.participant}          
          =link_to "View", "/appointments/#{appt.id}", :class => "link"
