-#  This file is app/views/appointments/show.html.haml

%div{:class => "textbox"}
  %p
    %b Client:
    #{@appointment.client}
  %p
    %strong Intern:
    #{@appointment.intern}
  %p
    %strong School:
    #{@appointment.school}
  %p
    %strong Date:
    #{@appointment.date}
  %p
    %strong Start:
    #{@appointment.start}
  %p
    %strong End:
    #{@appointment.end}

  =link_to "Go back to all appointments", appointments_path, :class => "appt"
