<p>
  <strong>participant:</strong>
  <%= @appointment.participant %>
</p>
 
<p>
  <strong>counselor:</strong>
  <%= @appointment.counselor %>
</p>

<p>
  <strong>Date:</strong>
  <%= @appointment.date %>
</p>

<p>
  <strong>Start:</strong>
  <%= @appointment.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @appointment.end %>
</p>