-#  This file is app/views/reports/index.html.haml

.mainContentBoxHeader reports


= form_tag '/reports/export', :method => :get do
  %div#school_list
    %h3 Schools
    %p
      If you don't select any schools, reports will be run for all schools.
    - @all_schools.each do |school_name|
      = check_box_tag "school_names[#{school_name}]", 1, false, :id => "school_names[#{school_name}]"
      = school_name
      %br
  %div
    = label :report_type, 'Report Type:' 
    = select_tag :report_type, options_for_select([["Clinical Service Hours", "Clinical Service Hours"], ["People Served", "People Served"], ["Both", "Both"]])
    %br
    = 'Date Range (mm/yy):'
    = label :start_month, ''
    = select_tag :start_month, options_for_select(@months)
    = label :start_year, '/'
    = select_tag :start_year, options_for_select(@years)   

    = 'to'
    = label :end_month, ''
    = select_tag :end_month, options_for_select(@months)
    = label :end_year, '/'
    = select_tag :end_year, options_for_select(@years)   
    %br
    = submit_tag 'Export'

