!!! 5
%html
  %head
    %title FuelEd
    = stylesheet_link_tag 'application'
    = csrf_meta_tags

  %body
  -if !current_user.nil?

    %div#main
      %div{:id => "header-main", :class => "header"}
        %div{:id => "title"}
          %h1.inline
            =image_tag "fueled_logo.jpg", :height => "100px"
          %h3.inline ADMIN PORTAL

        %nav
          -if !current_user.nil?
            %ul
              %li=link_to "home", "/admins", :class => "button-current"
              %li=link_to "schools", "/admins/schools", :class => "button-square"
              %li=link_to "signout", "/signout", :class => "button-square"

        %div.clear

      %div{:id => "content"}

        %div{:id => "sidebar"}
          %div{:class => "button-pink", :id => "appointment"}
            %h3=link_to "Create New Accounts", "/admins/identities/new"
          %div{:class => "button-pink", :id => "appointment"}
            %h3=link_to "School Information", "/admins/schools"
          %div{:class => "button-pink", :id => "appointment"}
            %h3=link_to "Reports", "/admins"
          %div{:id => "user_info"}
            %h2 my information
            %p.textbox 
              UID: #{current_user.uid} <br/>
              Name: #{current_user.name} <br/>
              Rank: #{current_user.rank} <br/><br/>
              =link_to "Change password", "#", :class => "link"

        = yield
  -else
    = yield
