!!! 5
%html
  %head
    %title FuelEd
    = stylesheet_link_tag 'application'
    = csrf_meta_tags

  %body
  -if !@current_user.nil?

    %div#main
      %div{:id => "header-main", :class => "header"}
        %div{:id => "title"}
          %h1.inline
            =image_tag "fueled_logo.jpg", :height => "100px"
          %h3.inline
            -if @current_user.rank == "intern"
              COUNSELOR PORTAL
            -elsif @current_user.rank == "client"
              USER PORTAL

        %nav
          -if !@current_user.nil?
            %ul
              -if @current_user.rank == "intern"
                %li=link_to "profile", "/users/#{@current_user.uid}", :class => "button-square"
              %li=link_to "scheduler", "/appointments", :class => "button-square"
              %li=link_to "signout", "/signout", :class => "button-square"

        %div.clear

      %div{:id => "content"}

        %div{:id => "sidebar"}
          -if @current_user.rank == "intern"
            %div{:class => "button-pink", :id => "appointment"}
              %h3=link_to "Create Appointment Slots", "/appointments/new"
          %div{:id => "user_info"}
            %h2 my information
            %p.textbox 
              UID: #{@current_user.uid} <br/>
              Name: #{@current_user.name} <br/>
              Rank: #{@current_user.rank} <br/><br/>
              =link_to "Change password", change_password_path, :class => "link"
              %br/
              =link_to "View Past Appointments", past_path, :class => "link"
          %div{:id => "workshops"}
            %h2 upcoming appointments
            - booked_appts.sort_by{|appt| appt.start}.each do |appt|
              %p.textbox
                Counselor: #{appt.intern} <br/>
                Participant: #{appt.client} <br/>
                School: #{appt.school.name} <br/>
                Time: #{appt.start.strftime("%I:%M%p")} - #{appt.end.strftime("%I:%M%p, %m/%d/%Y")}<br/>
                =link_to "Unbook", unbook_url(appt.id), :class => "link"

        %div{:id => "calendar"}

          - if flash[:notice]
            #notice.message= flash[:notice]
          - elsif flash[:warning]
            #warning.message= flash[:warning]

          = yield

        %div.clear
        %div{:id => "footer"}
  -else
    = yield
	
